
ion-card {
    box-shadow: 7px 7px var(--ion-color-light-shade);
    border-radius: 0;
    color: var(--ion-color-dark);
    max-width: 500px;
    padding: 15px;
}

@media screen and (min-width: 525px) {
    ion-card {
        left: 50%;
        transform: translate(-50%, 0);
    }
}


.center {
    padding: 15px 0 0 15px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}

ion-label {
    padding-top:10px
}

ion-item-divider {
    background-color: transparent;
}

.icon-padding {
    padding-top: 8px;
    padding-right: 5px;
}

.float-right {
    float: right;
}

// formularz
.searcher {
    padding: 10px;
}

.error-messages {
    font-size: 0.7em;
    color: var(--ion-color-danger);
    text-align: center;
}

// czcionka
.giga-font {
    font-size: 200px;
}

.large-font {
    font-size: 40px;
}

.big-font {
    font-size: 25px;
}

.med-font {
    font-size: 20px;
}

.small-font {
    font-size: 15px;
}